[submodule "android/ioio"]
	path = android/ioio
	url = https://github.com/XCSoar/ioio.git
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "android/UsbSerial"]
	path = android/UsbSerial
	url = https://github.com/XCSoar/UsbSerial.git
[submodule "tools/ADSB/GDL90/gdl90"]
	path = tools/ADSB/GDL90/gdl90
	url = git@github.com:Exadios/gdl90.git
